/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #48555B;
  margin: 0 auto;
}

.container {
  max-width: 971px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
  width: 150px;
  height: 40px;
  background-color: #00A4E5;
  transition: all 0.3s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ourStory__container {
  margin-top: 58px;
  margin-bottom: 118px;
}
.ourStory__heading {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.306px;
  position: relative;
  padding-bottom: 10px;
}
.ourStory__heading:after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 2.5px;
  left: 50%;
  background-color: #00A4E5;
  margin: 0px 0px 0px -25px;
}
.ourStory__content {
  display: flex;
  justify-content: space-between;
}
.ourStory__info {
  margin-top: 65px;
  max-width: 405px;
}
.ourStory__heading2 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.188px;
  margin-bottom: 20px;
}
.ourStory__heading2-accent {
  color: #00A4E5;
}
.ourStory__pharagraph {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.188px;
}
.ourStory__cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 459px;
}
.ourStory__card {
  width: 140px;
  height: 224px;
  gap: 19px;
  padding-top: 15px;
  padding-left: 14px;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0.188px;
  color: #fff;
}
.ourStory__card-wePlan {
  background-image: url(../img/we-plan.png);
}
.ourStory__card-weManage {
  background-image: url(../img/we-manage.png);
}
.ourStory__card-weBuild {
  background-image: url(../img/we-build.png);
}

.ourCapabilities__container {
  margin-bottom: 115px;
}
.ourCapabilities__header {
  display: flex;
  justify-content: space-between;
}
.ourCapabilities__heading {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.306px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 76px;
}
.ourCapabilities__heading:after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 2px;
  left: 13%;
  background-color: #00A4E5;
  margin: 0px 0px 0px -25px;
}
.ourCapabilities__pharagraph {
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  max-width: 405.404px;
}
.ourCapabilities__cards {
  display: flex;
  justify-content: space-between;
}
.ourCapabilities__card {
  max-width: 295px;
  max-height: 330px;
  border: 1px solid #E6E6E6;
  padding-left: 23px;
  padding-right: 23px;
}
.ourCapabilities__cardImage {
  margin: 38px auto 25px 0;
}
.ourCapabilities__cardHeading {
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.427px;
}
.ourCapabilities__cardContent {
  margin-bottom: 39px;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.188px;
}

.wantBuild {
  background-image: url(../img/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wantBuild__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 497px;
}
.wantBuild__heading {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.15px;
  max-width: 315px;
  margin-top: 90px;
}
.wantBuild__btn {
  margin-top: 16px;
}

.signup {
  background-color: #171819;
  height: 100px;
}
.signup__container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.signup__heading {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.846px;
  margin-right: 70px;
}
.signup__form {
  display: flex;
  align-items: center;
  width: 400px;
}
.signup__input {
  width: 250px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #E6E6E6;
  padding-left: 16px;
}
.signup__btn {
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
  width: 150px;
  height: 40px;
  background-color: #00A4E5;
  transition: all 0.3s;
}
.signup__btn:hover {
  opacity: 0.8;
}
.signup__btn:active {
  transform: translateY(1px);
}

.copyright {
  background-color: #171819;
}
.copyright__content {
  text-align: center;
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.846px;
  padding: 23px 0;
}

.footer {
  background-color: #141A20;
  color: #fff;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__heading {
  font-size: 11px;
  letter-spacing: 0.846px;
  margin-top: 42px;
  margin-bottom: 19px;
}
.footer__content {
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
  margin: 15px 0 50px 0;
  width: 250px;
}
.footer__listContainer {
  display: flex;
  justify-content: space-between;
  width: 262px;
}
.footer__link {
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.846px;
}
.footer__contactContent {
  width: 141px;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.846px;
}
.footer__contactContent a {
  color: #fff;
}
.footer__phone {
  display: inline-block;
  padding: 20px 0;
}
.footer__socialMedia {
  display: flex;
  width: 87px;
  justify-content: space-between;
  margin-top: 71px;
}

.header {
  background-image: url("../img/header-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__logo {
  padding-top: 41px;
  display: block;
  margin: 0 auto;
}
.header__heading {
  color: #fff;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  letter-spacing: 5.709px;
  padding-top: 304px;
}
.header__info {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.header__scroll {
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 3.7px;
  padding-top: 213px;
  padding-bottom: 71px;
}

.nav {
  border-bottom: 1px solid #E6E6E6;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
.nav__list {
  display: flex;
  gap: 30px;
}
.nav__item {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.091px;
}
.nav__link {
  color: #48555B;
}
.nav__link--accent {
  color: #00A4E5;
  font-weight: 700;
}

@media (max-width: 990px) {
  .header__heading {
    padding-top: 210px;
    font-size: 58px;
  }
  .header__info {
    font-size: 15px;
  }
  .header__scroll {
    padding-top: 152px;
  }
  .ourStory__heading {
    font-size: 16px;
  }
  .ourStory__heading2 {
    font-size: 18px;
  }
  .ourStory__pharagraph {
    width: 301px;
    font-size: 11px;
  }
  .ourStory__card {
    width: 130px;
    height: 220px;
    margin-right: 10px;
  }
  .ourStory__info {
    max-width: 360px;
  }
  .btn {
    font-size: 12px;
    width: 140px;
    height: 35px;
  }
  .ourCapabilities__pharagraph {
    max-width: 386px;
  }
  .ourCapabilities__card:not(:last-child) {
    margin-right: 30px;
  }
  .ourCapabilities__cardHeading {
    font-size: 12px;
  }
  .ourCapabilities__cardContent {
    font-size: 11px;
  }
  .ourCapabilities__container {
    margin-bottom: 48px;
  }
  .ourCapabilities__heading {
    font-size: 16px;
  }
  .wantBuild__heading {
    font-size: 28px;
  }
  .signup__btn {
    font-size: 12px;
    width: 140px;
    height: 35px;
  }
  .signup__input {
    height: 35px;
  }
  .signup__heading {
    font-size: 21px;
  }
  .footer__content {
    width: 217px;
  }
}
@media (max-width: 820px) {
  .header__heading {
    font-size: 56px;
  }
  .ourStory__container {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .ourStory__heading2 {
    font-size: 16px;
  }
  .ourStory__pharagraph {
    width: 280px;
  }
  .ourStory__info {
    margin-top: 55px;
  }
  .ourStory__card {
    font-size: 21px;
  }
  .ourStory__card {
    width: 125px;
    height: 210px;
  }
  .ourCapabilities__pharagraph {
    max-width: 370px;
  }
  .ourCapabilities__cardImage {
    margin: 25px auto 25px 0;
  }
  .ourCapabilities__cardHeading {
    font-size: 11px;
  }
  .ourCapabilities__cardContent {
    font-size: 10px;
  }
  .wantBuild__heading {
    margin-top: 80px;
    font-size: 25px;
  }
  .wantBuild__container {
    height: 455px;
  }
  .signup__heading {
    font-size: 20px;
  }
  .footer__link {
    font-size: 10px;
  }
  .footer__content {
    width: 210px;
  }
  .footer__listContainer {
    width: 242px;
  }
  .footer__socialMedia {
    width: 37px;
    height: 100px;
    flex-direction: column;
  }
}