.ourStory {
  &__container {
    margin-top: 58px;
    margin-bottom: 118px;
  }
  
  &__heading {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.306px;
    position: relative;
    padding-bottom: 10px;

    &:after {
      content:'';
      position: absolute;
      width: 50px;
      bottom: 0;
      height: 2.5px;
      left: 50%;
      background-color: $accent;
      margin: 0px 0px 0px -25px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    margin-top: 65px;
    max-width: 405px;
  }

  &__heading2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.188px;
    margin-bottom: 20px;

    &-accent {
      color: $accent;
    }
  }

  &__pharagraph {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.188px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 459px;
  }

  &__card {
    width: 140px;
    height: 224px;
    gap: 19px;
    padding-top: 15px;
    padding-left: 14px;

    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.188px;
    color: $white;

    &-wePlan {
      background-image: url(../img/we-plan.png);
    }
  
    &-weManage {
      background-image: url(../img/we-manage.png);
    }
  
    &-weBuild {
      background-image: url(../img/we-build.png);
    }
  }

}
