body {
  font-family: $font-main;
  color: $main;
  margin: 0 auto;
}

.container {
  max-width: 971px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  color: $white;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;

  width: 150px;
  height: 40px;
  background-color: $accent;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
  

}